{% extends "themes_admin/add_category.html" %}
{% block content %}
{% load static %}


<!-- start select -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
<!-- end select -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

<link rel="stylesheet" href="{% static 'themes_admin/css/add_medicine.css' %}">

<body>

    <!-- Start Body -->
<div class="body-page" id="body-page">
        <div class="add-medicine">
            <div class="card">
                <div class="card-header d-flex justify-content-between bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        Ajout de Médicament
                    </div>
                    <div class="p-2 bd-highlight">
                        <a href="{% url 'liste_medicaments' %}"><button type="button" class="btn btn-list"><i
                                    class="fa fa-align-justify"></i> &nbsp;Liste des Médicaments</button></a>
                    </div>
                </div>
                <div class="card-body">


                    <form action="{% url 'creation_medicament' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if error_message %}
                            <div class="alert alert-danger">{{ error_message }}</div>
                        {% endif %}
                        <div class="form-row" style="margin-top: 30px;">
                            <label for="nomMedicament" class="col-lg-2 label-input">Nom du médicament <i class="text-danger">*</i>:</label>
                            <input type="text" class="form-control2 col-lg-3" id="nomMedicament" placeholder="Nom du Médicament" name="nomMedicament" required>
                            <div class="col-lg-1"></div>
                            <label for="code" class="col-lg-2 label-input">Nom Générique <i class="text-danger">*</i>:</label>
                            <input type="text" class="form-control2 col-lg-3" id="code" placeholder="Nom Générique" name="code" required>
                        </div>
                        <div class="form-row">
                            <label for="categorie" class="col-lg-2 label-input">Categorie:</label>
                            <select class="selectpicker col-lg-3" data-live-search="true" id="nomCat" name="nomCat" required>
                                <option value="" disabled selected>Choisissez une catégorie</option>
                                {% for categorie in categories %}
                                    <option value="{{ categorie.id }}">{{ categorie.nomCat }}</option>
                                {% endfor %}
                            </select>
                            <div class="col-lg-1"></div>
                            <label for="prixUnitaire" class="col-lg-2 label-input">Prix Unitaire:</label>
                            <input type="number" class="form-control2 col-lg-3" id="prixUnitaire" name="prixUnitaire" placeholder="Prix Unitaire">
                            <div class="col-lg-1"></div>
                        </div>
                        <div class="form-row">
                            <label for="libelle" class="col-lg-2 label-input">Description <i class="text-danger">*</i>:</label>
                            <input type="text" class="form-control2 col-lg-3" id="libelle" placeholder="libelle" name="libelle" required>
                            <div class="col-lg-1"></div>
                            <label for="dateExpiration" class="col-lg-2 label-input">Date d'Expiration:</label>
                            <input type="date" class="form-control2 col-lg-3" id="dateExpiration" name="dateExpiration" placeholder="Manufacturer">
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-12" style="margin-top: 40px; margin-left: 60px;">
                                    <label for="image" class="col-lg-3 col-md-2 label-input">Image:</label>
                                    <input type="file" class="form-control2" id="image" name="image" accept="image/*" hidden>
                                    <label for="image" class="choose-image label-input">Choisir un fichier</label>
                                    <span id="file-chosen">Aucun fichier disponible</span>
                                </div>
                            </div>
                            <div class="col-lg-5 d-none d-xl-block d-lg-block">
                                <img src="{% static 'themes_admin/img/add-med.jpg'%}" height="200px" class="float-right">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-list float-right">Ajouter</button>
                    </form>
                    
                    


                    <!-- <input class="radio-prescription" type="radio" name="prescription" id="required"
                                value="required">
                            <label class="radio-option" for="required" >
                                Required
                            </label>
                            <input class="radio-prescription" type="radio" name="prescription" id="not_required"
                                value="not_required">
                            <label class="radio-option" for="not_required">
                                Not required
                            </label> -->



                </div>

            </div>

        </div>
    </div>


    <!-- End Body -->

    <script>
        $(document).ready(function(){
            $('.selectpicker').selectpicker();
        });

        // Script pour choisir l'image
        const image = document.getElementById('image');
        const fileChosen = document.getElementById('file-chosen');
        image.addEventListener('change', function () {
            fileChosen.textContent = this.files[0].name
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

</body>

{% endblock content %}