{% extends "themes_admin/add_category.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'themes_admin/css/edit_profile.css' %}">

<body>
    <!-- Start Body -->
    <div class="body-page" id="body-page">
        <div class="edit-profile">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        Modifier mon profil
                    </div>
                </div>
                <br>
                <br>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form class="needs-validation" novalidate method="POST" action="{% url 'edit_profile' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="first_name">Nom</label>
                                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ name }}" required>
                                    <div class="invalid-feedback">
                                        Ce champ est obligatoire.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" value="{{ email }}" required>
                                    <div class="invalid-feedback">
                                        Ce champ est obligatoire, veuillez saisir une adresse e-mail valide.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mobile">Téléphone</label>
                                    <input type="text" class="form-control" id="mobile" name="mobile" value="{{ mobile }}" minlength="10" onkeypress="return onlyNumberKey(event)" required>
                                    <div class="invalid-feedback">
                                        Veuillez saisir un numéro de téléphone valide.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="address">Adresse</label>
                                    <input type="text" class="form-control" id="address" name="address" value="{{ address }}" required>
                                    <div class="invalid-feedback">
                                        Ce champ es obligatoire
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="old_password">Ancien mot de passe</label>
                                    <input type="password" class="form-control" id="old_password" name="old_password" required>
                                    <div class="invalid-feedback">
                                        Veuillez saisir votre ancien mot de passe
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="new_password">Nouveau mot de passe</label>
                                    <input type="password" class="form-control" id="new_password" name="new_password" required>
                                    <div class="invalid-feedback">
                                        Veuillez saisir votre nouveau mot de passe
                                    </div>
                                </div>
                                <button type="submit" class="btn float-right btn-list">Modifier</button>
                            </form>
                            {% if messages %}
                                <div class="messages">
                                    {% for message in messages %}
                                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-6 d-none d-xl-block d-lg-block">
                            <img src="{% static 'themes_admin/img/user3.png' %}" class="img-thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Body -->
    <script>
        (function() {
            'use strict';

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation');

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function(form) {
                    form.addEventListener('submit', function(event) {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }

                        form.classList.add('was-validated');
                    }, false);
                });
        })();

        // Accept Only Number
        function onlyNumberKey(evt) {
            // Only ASCII character in that range allowed
            var ASCIICode = (evt.which) ? evt.which : evt.keyCode;
            if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                return false;
            return true;
        }
    </script>
</body>

{% endblock content %}
