{% extends "themes_admin/add_category.html" %}
{% block content %}
{% load static %}

<!-- start select -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
<!-- end select -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

<link rel="stylesheet" href="{% static 'themes_admin/css/edit_user.css' %}">

<body>

    <!-- Start Body -->

    <div class="body-page" id="body-page">
        <div class="edit-user">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        Edit User
                        <a href="user_list.html"><button type="button" class="btn btn-list">
                                <i class="fa fa-align-justify"></i>&nbsp; User List</button>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form action="select_Branch.html">
                                <div class="form-row" style="margin-top: 30px;">
                                    <label for="salary" class="col-lg-3 label-input">Salary:</label>
                                    <input type="text" class="form-control2 col-lg-7" id="salary" placeholder="Salary"
                                        name="salary" onkeypress="return onlyNumberKey(event)" required>
                                </div>

                                <div class="form-row">
                                    <label for="working_hours" class="col-lg-3 label-input">Working Hours:</label>
                                    <input type="text" class="form-control2 col-lg-7" id="working_hours"
                                        placeholder="Working Hours" name="working_hours" onkeypress="return onlyNumberKey(event)" required>
                                </div>


                                <div class="form-row">
                                    <label class="col-lg-3 col-md-3 label-input">Role:</label>
                                    <select class="selectpicker col-lg-7" required data-live-search="true" name="role">
                                        <option value=""></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>

                                <div class="form-row">
                                    <label class="col-lg-3 col-md-3 label-input">Permission:</label>
                                    <select class="selectpicker col-lg-7" required multiple data-live-search="true" name="permission">
                                        <option value=""></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>

                                <div class="form-row">
                                    <div class="col-lg-10">
                                        <label for="Status " class="col-lg-4  label-input">Status:</label>
                                        <label class="col-lg-3 container">Active
                                            <input type="radio" checked="checked" name="radio" value="Active">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="col-lg-4 container">Inactive
                                            <input type="radio" name="radio" value="Inactive">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-11">
                                    <button type="submit" class="btn btn-list float-right">Select Branch</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 d-none d-xl-block d-lg-block">
                            <img src="{% static 'themes_admin/img/hours2.jpg'%}" class="img-thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Body -->

    <script>

        // Accept Only Number
        function onlyNumberKey(evt) {

            // Only ASCII character in that range allowed
            var ASCIICode = (evt.which) ? evt.which : evt.keyCode
            if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                return false;
            return true;
        }

    </script>

</body>
{% endblock content %}