{% extends "themes_admin/add_category.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'themes_admin/css/my_profile.css'%}">

<body>
    <!-- Start Body -->

    <div class="body-page" id="body-page">
        <div class="my-profile">
            <div class="container">
                <div class="row row-profile">
                    <div class="card ">
                        <img src="{% static 'themes_admin/img/myProfile.jpg' %}" class="card-img-top" style="height: 180px;">
                        <div class="card-body text-center">
                            <a class="avatar avatar-xl card-avatar card-avatar-top">
                                <img src="{% static 'themes_admin/img/user3.jpg' %}" class="avatar-img rounded-circle border-card">
                            </a>
                            <p class="card-text text-muted">{{ role }}</p>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="text-left">Nom </td>
                                        <td class="text-right">{{ name }} {{ prenom }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Adresse Email </td>
                                        <td class="text-right">{{ email }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Téléphone </td>
                                        <td class="text-right">{{ numero }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Address </td>
                                        <td class="text-right">{{ adresse }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Body -->
</body>

{% endblock content %}
