{% extends "themes_admin/add_category.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">

<link rel="stylesheet" href="{% static 'themes_admin/css/notification.css' %}">

<body>

    <!-- Start Body -->

    <div class="body-page" id="body-page">
        <div class="notification">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        Medicament à expiration proche
                    </div>
                </div>
                {% if medicaments %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-7 col-md-10">
                            {% for medicament in medicaments %}
                            <table class="table table-striped table-bordered dt-responsive ">
                                <tbody>
                                    <tr>
                                        <th scope="col">Nom du Médicament</th>
                                        <td>{{medicament.nomMedicament}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Quantité en stock</th>
                                        <td>{{medicament.stock}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Prix Unitaire</th>
                                        <td>{{medicament.prixUnitaire}} FCFA</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Date d'expiration</th>
                                        <td style="color:red"><strong>{{medicament.dateExpiration}}</strong></td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Code Générique</th>
                                        <td>{{medicament.code}}</td>
                                    </tr>
                                    </tbody>
                            </table>
                        </div>
                        <div class="col-lg-4 d-none d-xl-block d-lg-block">
                            <img src="{{medicament.image.url}}" class="img-thumbnail" alt="{{medicament.nomMedicament}}">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {%elif not medicaments %}
                    <h3> Aucun médicament à réapprovisionnement proche</h3>
                {% endif %}

            </div>
        </div>
    </div>

    <!-- End Body -->

</body>
{% endblock content %}