{% extends "themes_client/index.html" %}
{% block content %}
<div class="site-wrap">
    <h2>Informations du Client</h2>
    <form action="{% url 'formulaire_achat' ordonnance.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Nom: {{ client.nomUtilisateur }}</p>
        <p>Email: {{ client.emailUtilisateur }}</p>
        <p>Adresse: {{ client.adresseUtilisateur }}</p>
        <p>Image téléchargée:</p>
        <img src="{{ ordonnance.image.url }}" alt="Image téléchargée" style="max-width: 200px;">
        <!-- Ajoutez des champs de formulaire supplémentaires si nécessaire -->
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
</div>
{% endblock %}