{% extends "themes_client/homepage_cli.html" %}

{% block content %}
{% load static %}
<style>
    .container {
        margin-top: 20px;
        transition: background-color 0.8s ease; /* Transition fluide pour le survol */
    }
    .card {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        transition: box-shadow 0.3s ease; /* Transition fluide pour l'ombre portée */
    }

    .card:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Ombre portée au survol */
    }

    .card-header {
        background-color: #03BB00;
        color: #fff;
        font-weight: bold;
        border-bottom: 2px solid #fff;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .card-body {
        padding: 20px;
    }

    .card-footer {
        background-color: #f8f9fa;
        border-top: 1px solid #e9ecef;
        padding: 15px;
        text-align: right;
    }

    .btn-primary {
        background-color: #03BB00;
        border-color: #fff;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 16px;
        color: #fff;
        font-weight: bold;
        justify-content: center;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #fff;
    }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 16px;
    }

    .btn-secondary:hover {
        background-color: #5a6268;
        border-color: #4e555b;
    }

    .alert-warning {
        border-radius: 10px;
        padding: 15px;
    }

    .list-group-item {
        border-radius: 8px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        padding: 10px;
        background-color: #f8f9fa;
    }

    .list-group-item:hover {
        background-color: #e9ecef;
    }

    img {
        border-radius: 8px;
    }

    .btn-secondary.mt-3 {
        margin-top: 15px;
    }

    .payment-img {
        width: 100px;
        height: auto;
        cursor: pointer;
        border-radius: 8px;
        transition: transform 0.3s ease;
    }

    .payment-img:hover {
        transform: scale(1.1);
    }

    .form-check {
        display: inline-block;
        margin-right: 20px;
    }

    .modal-header {
        background-color: #03BB00;
        color: #fff;
        font-weight: bold;
    }

    .modal-footer {
        background-color: #f1f1f1;
    }

    .modal-body {
        padding: 2rem;
    }

    .modal-content {
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition fluide pour le survol */
    }

    .modal-content:hover {
        transform: scale(1.05); /* Légère augmentation de la taille du modal au survol */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Augmentation de l'ombre portée pour un effet de profondeur */
    }
    .mv-5{
        text-align: center;
        color:  #03BB00;
        font-weight: bold;
    }
    .list-group{
        color: black;
    }
    .mt-2{
        color: black;
        font-size: 20px;
    }
    .mt-3{
        color: white;
        font-size: 25px;
        font-weight: bold;
    }
</style>
<script>
    function openConfirmationModal(mode_paiement) {
        var total_price = "{{ selected_total }}";
        var ordonnance_id = "{{ ordonnance_id }}";
        var confirmationMessage = "Vous avez choisi de payer avec " + mode_paiement + ". Le montant total à payer est de " + total_price + " FCFA.";
        document.getElementById('confirmationMessage').textContent = confirmationMessage;
        document.getElementById('mode_paiement').value = mode_paiement;
        $('#paymentModal').modal('hide');
        $('#confirmationModal').modal('show');
    }

    function dismissRefusedOrdonnance() {
        document.getElementById('refusedOrdonnance').style.display = 'none';
        document.getElementById('noOrderMessage').style.display = 'block';
    }

    function startPaymentTimer() {
        setTimeout(disablePaymentButton, 60000); // 60000ms = 1 minute
    }

    $(document).ready(function() {
        {% if messages %}
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        {% endif %}
        // Lancer le compte à rebours lorsque la page est prête
        startPaymentTimer();
    });
</script>

<div class="container">
    <h2 class="mv-5">Confirmation de Commande</h2>
    
    {% if commande_acceptee %}
    <div class="card">
        <div class="card-header">
            <h5 class="mt-3">Ordonnance Acceptée</h5>
        </div>
        <div class="card-body">
            <h6 class="mt-2">Liste des Médicaments Sélectionnés</h6>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for med in selected_medicines %}
                    <tr>
                        <td>{{ med.nom }}</td>
                        <td>{{ med.prix }} FCFA</td>
                        <td>{{ med.quantite }}</td>
                        <td>{{ med.total }} FCFA</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="mt-2"><strong>Prix Total</strong> {{ selected_total }} FCFA</p>
        </div>
        <div class="card-footer">
            <button type="button" id="paymentButton" class="btn btn-primary" data-toggle="modal" data-target="#paymentModal">Payer la commande</button>
        </div>
    </div>
    {% elif commande_refusee %}
    <div class="card" id="refusedOrdonnance">
        <div class="card-header">
            <h5>Ordonnance Refusée</h5>
        </div>
        <div class="card-body">
            <p><strong>Motif du Refus</strong> {{ refused_order.motif }}</p>
            <div class="mt-3">
                <strong>Image de la Commande</strong>
                <img src="{{ refused_order.ordonnance.image.url }}" alt="Image de la commande" class="img-fluid">
            </div>
            <button type="button" class="btn btn-secondary mt-3" onclick="dismissRefusedOrdonnance()">OK, j'ai compris</button>
        </div>
    </div>
    {% elif no_current_order %}
    <div class="alert alert-warning" role="alert" id="noOrderMessage">
        Aucune commande en cours.
    </div>
    {% endif %}
</div>

<!-- Payment Modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentModalLabel">Choisir le Mode de Paiement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="payment-options text-center">
                    <div class="form-check">
                        <a href="#" onclick="openConfirmationModal('tmoney')">
                            <img src="{% static 'themes_client/images/tmoney.png' %}" alt="Tmoney" class="img-thumbnail payment-img">
                        </a>
                    </div>
                    <div class="form-check">
                        <a href="#" onclick="openConfirmationModal('flooz')">
                            <img src="{% static 'themes_client/images/flooz.png' %}" alt="Flooz" class="img-thumbnail payment-img">
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation de Paiement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="confirmationMessage"></p>
                <form id="confirmationForm" method="post" action="{% url 'payement_commande' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="password">Veuillez entrer votre mot de passe</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <input type="hidden" name="mode_paiement" id="mode_paiement">
                    <input type="hidden" name="ordonnance_id" value="{{ ordonnance_id }}">  <!-- Champ caché pour l'ID de l'ordonnance -->
                    <button type="submit" class="btn btn-primary">Confirmer le Paiement</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}