{% extends "themes_client/homepage_cli.html" %}
{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f9;
        margin: 0;
        padding: 0;
    }
    .container1 {
        max-width: 900px;
        margin: 30px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        transition: box-shadow 0.3s ease;
    }
    .container1:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    }
    h2 {
        text-align: center;
        margin-bottom: 25px;
        color: #03BB00;
        font-size: 2.5em;
        font-weight: bold;
    }
    .card {
        margin-bottom: 20px;
        padding: 15px;
        border: 1px solid #dee2e6;
        border-radius: 8px;
        background-color: #f9f9f9;
    }
    .card-title {
        font-size: 1.5em;
        font-weight: bold;
    }
    .card-body {
        font-size: 1.2em;
    }
</style>

<div class="container1">
    <h2>Historique de Vos Ventes Validées</h2>

    {% if ordonnances_validées %}
    {% for ordonnance in ordonnances_validées %}
    <div class="card">
        <div class="card-body">
            <p><strong>Date de Création</strong> {{ ordonnance.livraison.date_validation }}</p>
            <p><strong>Image</strong> <img src="{{ ordonnance.image.url }}" alt="Ordonnance Image" style="max-width: 200px;"></p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-warning" role="alert">
        Vous n'avez pas encore de ventes validées.
    </div>
    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock content %}
