{% extends "themes_client/index.html" %}
{% block content %}
{%  load static %}
<style>
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 600px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.btn-primary{
  background-color:#03BB00;
  border-color: #03BB00;
  border-radius:20px;
}
</style>
<body>

  <div class="site-wrap">

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'liste_medicaments_client' %}">Acceuil</a> <span class="mx-2 mb-0">/</span> <a
              href="shop.html">Store</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">{{ medicament.nomMedicament }}</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
          <div class="row">
              <div class="col-md-5 mr-auto">
                  <div class="border text-center ">
                      {% if medicament.image and medicament.image.url %}
                          <img src="{{ medicament.image.url }}" alt="{{ medicament.nomMedicament }}" class="img-fluid p-5">
                      {% else %}
                          Image non disponible
                      {% endif %}
                  </div>
              </div>
              <div class="col-md-6">
                  <h2 class="text-black">{{ medicament.nomMedicament }}</h2>
                  <p>{{ medicament.libelle }}</p>
                  <p><del>{{ medicament.prixUnitaire }}</del>  <strong class="text-primary h4">{{ medicament.prixUnitaire }}</strong></p>
            
            
            
                  <form action="{% url 'commande_client' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>
                        <button type="submit" class="btn btn-sm height-auto px-4 py-3 btn-primary" >
                            Scanner une ordonnance
                        </button>
                        <span id="file-name"></span>
                    </p>
                  </form>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-secondary bg-image" style="background-image: url({% static 'themes_client/images/bg_2.jpg' %});">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url({% static 'themes_client/images/bg_1.jpg' %});">
              <div class="banner-1-inner align-self-center">
                <h2>Les produits de PharmApp</h2>
                <p>Les produits de PharmApp garantissent une efficacité maximale. Nous travaillons avec des fabricants réputés pour vous offrir des solutions fiables.
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url({% static 'themes_client/images/bg_2.jpg' %});">
              <div class="banner-1-inner ml-auto  align-self-center">
                <h2>Certifiés par des Experts</h2>
                <p>Les produits de PharmApp garantissent une efficacité maximale. Évalués par des experts, ils vous offrent des solutions fiables et de qualité.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>



{% endblock%}

