{% extends "themes_client/index.html" %}
{% block content %}
{% load static %}
<style>
  btn-primary {
    background-color: #03BB00 !important;
    border-color: #03BB00 !important;
    
  }
</style>
<body>

  <div class="site-wrap">

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Acceuil</a> <span class="mx-2 mb-0">/</span> <strong
              class="text-black">Merci</strong></div>
        </div>
      </div>
    </div>
    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="icon-check_circle display-3 text-success"></span>
            <h2 class="display-3 text-black">Merci!</h2>
            <p class="lead mb-5">Votre commande a été finalisée avec succès et est en cours de traitement.</br> Vous serez notifié de l'issu de votre commande dans l'onglet "SUIVI DE COMMANDE" de votre menu de navigation</p>
            <p><a href="{% url 'cart' %}" class="btn btn-md height-auto px-4 py-3 btn-primary">Suivre la Commande</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
