/* Styles pour la carte du profil */
.edit-profile .card {
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}

.edit-profile .card-header {
    font-size: 26px;
    font-weight: 700;
    padding: 15px;
    background-color: var(--color-main);
    color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.edit-profile .form-group {
    margin-bottom: 1.5rem;
}

.edit-profile .form-group label {
    font-weight: 600;
    color: #444;
}
.form-group label {
    font-size: 1.5em; /* Augmente la taille de la police des labels */
}

.btn-list {
    font-size: 1.2em; /* Augmente la taille de la police du bouton */
    padding: 0.75rem 1.5rem; /* Augmente le padding du bouton */
    border-radius: 0.5rem; /* Augmente le rayon des coins pour un bouton plus arrondi */
    color: #fff; /* Couleur du texte du bouton */
    background-color: var(--color-main); /* Couleur d'arrière-plan du bouton */
    border: none; /* Enlève les bordures par défaut */
}

.btn-list:hover {
    background-color: #54ee52; /* Couleur d'arrière-plan lors du survol */
}

.edit-profile input {
    height: 50px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.edit-profile .form-control:focus {
    border-color: var(--color-main);
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
    outline: none;
}

.edit-profile .btn-primary {
    background-color: var(--color-main);
    border-color: var(--color-main);
    font-size: 16px;
    border-radius: 8px;
    padding: 12px 24px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.edit-profile .btn-primary:hover {
    background-color: darken(var(--color-main), 10%);
    transform: scale(1.05);
}

.edit-profile .btn-primary:focus,
.edit-profile .btn-primary:active {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    outline: none;
}

.edit-profile .img-thumbnail {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.edit-profile .messages {
    margin-top: 20px;
}

.edit-profile .alert {
    font-size: 15px;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-profile .alert-success {
    background-color: #d4edda;
    color: #155724;
}

.edit-profile .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.edit-profile .alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .edit-profile .form-group {
        margin-bottom: 1rem;
    }

    .edit-profile .card {
        padding: 15px;
    }

    .edit-profile .btn-primary {
        padding: 10px 20px;
        font-size: 14px;
    }
}
