/* themes_admin/css/login.css */
.body-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.login {
    width: 100%;
    max-width: 900px; /* Agrandissez cette valeur pour rendre la zone plus large */
}

.card {
    border-radius: 1rem;
    padding: 20px; /* Ajoutez du padding si nécessaire */
    min-height: 80vh; /* Ajoutez une hauteur minimale pour agrandir la zone en hauteur */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body {
    padding: 2rem;
    flex-grow: 1; /* Permet à card-body de prendre tout l'espace disponible */
}

/* Ajout de margin-top à l'image */
.img-thumbnail {
    max-width: 100%; /* Assurez-vous que l'image prend toute la largeur disponible */
    height: auto; /* Conserver le ratio de l'image */
    margin-top: 200px; /* Ajustez cette valeur selon vos besoins */
}


.form-group {
    margin-bottom: 1.5rem;
    margin-top: 3.5rem;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    background-color: #138496;
    border-color: #117a8b;
}