/* Conteneur de la carte pour le formulaire */
.login .card {
    max-width: 1000px; /* Réduit la largeur maximale du conteneur */
    margin: 0 auto; /* Centre le conteneur horizontalement */
    padding: 20px; /* Ajoute un peu d'espace interne */
    border-radius: 8px; /* Bords arrondis pour une meilleure apparence */
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 40px;
}

.form-group label {
    font-size: 18px; /* Taille de la police des étiquettes */
    font-weight: bold; /* Mettre les étiquettes en gras */
    margin-bottom: 2px; /* Espacement en bas de l'étiquette */
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group select {
    width: 80%; /* Prendre toute la largeur */
    padding: 10px; /* Espacement interne */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 30px; /* Bords arrondis */
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur totale */
    font-size: 14px; /* Taille de la police */
}



button[type="submit"].btn.btn-info {
    width: 40%; /* Prendre toute la largeur */
    padding: 15px; /* Espacement interne */
    font-size: 10px; /* Taille de la police */
    border-radius: 4px; /* Bords arrondis */
    margin-left: 60px;
    background-color: #03BB00;
}

.login p {
    font-size: 18px; /* Taille de la police pour le texte */
    margin-top: 20px; /* Espacement en haut */
}

.login p a {
    font-size: 18px; /* Taille de la police pour le lien */
    color: #007bff; /* Couleur du lien */
    text-decoration: none; /* Supprimer le soulignement */
}

.login p a:hover {
    text-decoration: underline; /* Soulignement au survol */
}
