{% extends "themes_admin/themes_caissier/homepage_car.html" %}
{% block content %}
{% load static %}

<style>
    /* Styles spécifiques pour la page de sélection des médicaments */
    .med-container {
        margin-top: 20px;
        max-width: 1000px; /* Limite la largeur totale du conteneur */
        margin-left: auto;
        margin-right: auto;
        padding: 10px; /* Ajoute un peu de padding autour du conteneur */
    }

    .med-title {
        font-size: 2em; /* Réduit la taille du titre principal */
        margin-bottom: 15px;
        text-align: center;
    }

    .section-title {
        font-size: 1.8em; /* Réduit la taille des titres de section */
        margin-top: 15px;
        border-bottom: 2px solid #007bff;
        padding-bottom: 8px;
    }

    .med-table {
        margin-top: 15px;
        border-collapse: collapse;
        width: 90%; /* Réduit la largeur du tableau */
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Ombre du tableau plus discrète */
    }

    .med-table th, .med-table td {
        padding: 8px; /* Réduit la taille des cellules */
        text-align: left;
        border: 1px solid #dee2e6;
    }

    .med-table th {
        background-color: #007bff;
        color: #fff;
        font-weight: bold;
    }

    .med-table tbody tr:nth-child(even) {
        background-color: #f9f9f9; /* Couleur de fond des lignes paires */
    }

    .med-table tbody tr:hover {
        background-color: #e9ecef; /* Couleur de fond au survol */
    }

    .btn-main, .btn-validate, .btn-print {
        margin-top: 15px; /* Réduit l'espace au-dessus des boutons */
        font-size: 1em; /* Réduit la taille du texte des boutons */
        padding: 8px 15px; /* Réduit la taille du padding des boutons */
    }

    .form-container {
        margin-top: 15px; /* Réduit l'espace au-dessus du formulaire */
    }

    .receipt-box {
        padding: 15px; /* Réduit le padding du box du reçu */
        border: 1px solid #dee2e6;
        background-color: #f8f9fa;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .receipt-box h2 {
        font-size: 1.6em; /* Réduit la taille du titre du reçu */
        margin-bottom: 8px;
    }

    .receipt-box p {
        font-size: 1.1em; /* Réduit la taille du texte du reçu */
        margin: 4px 0;
    }

    .receipt-box table {
        width: 100%;
        margin-top: 15px;
        border-collapse: collapse;
    }

    .receipt-box th, .receipt-box td {
        padding: 8px; /* Réduit la taille du padding des cellules du reçu */
        border: 1px solid #dee2e6;
        text-align: left;
    }

    .receipt-box th {
        background-color: #007bff;
        color: #fff;
    }

    .receipt-box tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    /* Styles pour les boutons */
    .btn-main, .btn-validate, .btn-print {
        display: inline-block;
        font-size: 1em;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

    .btn-main {
        background-color: #007bff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .btn-main:hover {
        background-color: #0056b3;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    .btn-validate {
        background-color: #28a745;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .btn-validate:hover {
        background-color: #218838;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    .btn-print {
        background-color: #ffc107;
        color: #212529;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .btn-print:hover {
        background-color: #e0a800;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }


<style>
    /* le style de la page sans contenu */
</style>

<div class="med-container">
    {% for selection in non_validated_medicines %}
    <h2 class="section-title"> Commande N° {{ selection.id }}</h2>
    <table class="med-table" id="table-{{ selection.id }}">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix Unitaire</th>
                <th>Quantité</th>
            </tr>
        </thead>
        <tbody>
            {% for medicament in selection.donnees %}
            <tr>
                <td>{{ medicament.nom }}</td>
                <td>{{ medicament.prix }}</td>
                <td>{{ medicament.quantite }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-main" onclick="toggleDetails('{{ selection.id }}')">Valider la commande</button>
    <div id="details-{{ selection.id }}" class="form-container" style="display: none;">
        <p>Total: <span id="totalPrice-{{ selection.id }}">0.00</span></p>
        <div class="form-group">
            <label for="amountReceived-{{ selection.id }}">Montant Reçu:</label>
            <input type="number" class="form-control" id="amountReceived-{{ selection.id }}" placeholder="Entrez le montant reçu" oninput="calculateChange('{{ selection.id }}')">
        </div>
        <p>Reliquat: <span id="changeDue-{{ selection.id }}">0.00</span></p>
        <form method="post" action="{% url 'afficher_medicaments_selectionnes' %}">
            {% csrf_token %}
            <input type="hidden" name="selection_id" value="{{ selection.id }}">
            <input type="hidden" name="total_price" id="hiddenTotalPrice-{{ selection.id }}" value="">
            <button class="btn btn-validate" type="submit">Confirmer</button>
        </form>
        <button class="btn btn-print" onclick="printReceipt('{{ selection.id }}')">Imprimer le Reçu</button>
    </div>
    {% endfor %}
</div>


<div id="printableReceipt" style="display:none;">
    <div class="receipt">
        <h2>Pharmacie XYZ</h2>
        <p>Adresse: Rue Exemple, Ville</p>
        <p>Date: {{ date }}</p>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prix Unitaire</th>
                    <th>Quantité</th>
                </tr>
            </thead>
            <tbody id="receiptItems">
                <!-- This will be filled dynamically -->
            </tbody>
        </table>
        <p>Total: <span id="printTotalPrice">0.00</span></p>
        <p>Montant Reçu: <span id="printAmountReceived">0.00</span></p>
        <p>Reliquat: <span id="printChangeDue">0.00</span></p>
    </div>
</div>

<script>
    function toggleDetails(id) {
        const details = document.getElementById(`details-${id}`);
        const isVisible = details.style.display === 'block';
        details.style.display = isVisible ? 'none' : 'block';
        if (!isVisible) {
            calculateTotal(id);
        }
    }

    function calculateTotal(id) {
        const table = document.getElementById(`table-${id}`);
        let total = 0;
        table.querySelectorAll('tbody tr').forEach(row => {
            const price = parseFloat(row.cells[1].textContent);
            const quantity = parseInt(row.cells[2].textContent, 10);
            total += price * quantity;
        });
        document.getElementById(`totalPrice-${id}`).textContent = total.toFixed(2);
        document.getElementById(`hiddenTotalPrice-${id}`).value = total.toFixed(2);
        document.getElementById(`changeDue-${id}`).textContent = '0.00'; // Reset change due
    }

    function calculateChange(id) {
        const amountReceived = parseFloat(document.getElementById(`amountReceived-${id}`).value) || 0;
        const totalPrice = parseFloat(document.getElementById(`totalPrice-${id}`).textContent);
        const changeDue = amountReceived - totalPrice;
        document.getElementById(`changeDue-${id}`).textContent = changeDue.toFixed(2);
    }

    function printReceipt(id) {
        const receipt = document.getElementById('printableReceipt').innerHTML;
        const originalContents = document.body.innerHTML;
        document.body.innerHTML = receipt;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>

{% endblock content %}
