{% extends "themes_admin/add_category.html" %}
{% block content %}
{% load static %}

<body>
    <div class="container">
        <h1 class="mt-5">Médicaments Sélectionnés</h1>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Libellé</th>
                    <th>Prix Unitaire</th>
                    <th>Quantité</th>
                </tr>
            </thead>
            <tbody>
                {% for medicament in medicines %}
                <tr>
                    <td>{{ medicament.nom }}</td>
                    <td>{{ medicament.libelle }}</td>
                    <td>{{ medicament.prix }}</td>
                    <td>{{ medicament.quantite }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>

{% endblock %}