{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="https://kit.fontawesome.com/18695b64bb.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'themes_admin/css/bootstrap.min.css' %}">
    <script src="{% static 'themes_admin/js/popper.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'themes_admin/css/master.css' %}">
    <link rel="stylesheet" href="{% static 'themes_admin/css/add_category.css' %}">
    

    <title>PharmApp</title>
    <link rel="icon" href="{% static 'themes_admin/img/logo.jpg' %}" sizes="64x64 128x128" type="image/jpg">

</head>

<body>

    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>

    <!-- Start Sidebar -->

    <div class="wrapper">

        <nav id="sidebar" class="sidebar">

            <div class="sidebar-logo" id="sidebar-logo">
                <a href="#">
                    <div class="row">
                        <img src="{% static 'themes_admin/img/logo.png' %}" width="90" height="90">
                        <h3>PharmApp</h3>
                    </div>
                </a>
            </div>


            <div class="user-info">
                <div class="row">
                    <div class="user-img">
                        <img src="{% static 'themes_admin/img/user3.png' %}">
                    </div>
                    <div>
                        <p class="user-name">{{ request.session.user_name }}</p>
                        <p class="user-email">{{ request.session.user_email }}</p>
                    </div>
                </div>
            </div>

            <div class="accordion" id="accordionExample">

                <div class="card">
                    <div class="card-header">
                        <h2>
                            <button class="btn btn-link btn-block text-left" type="button">
                                <a href="{% url 'homepage_ges' %}" class="icon-home"><i class="fa fa-fw fa-home"></i><span
                                        style="margin-left: 2px;">Acceuil</span></a>
                            </button>
                        </h2>
                    </div>
                </div>
                

                <div class="card">
                    <div class="card-header" id="headingFourteen">
                        <h2>
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false"
                                aria-controls="collapseFourteen">
                                <a class="option-name"><i class="fas fa-user-md" aria-hidden="true"
                                        style="margin-left: 3px;"></i><span style="margin-left: 5px;">Utilisateur</span></a>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li><a href="{% url 'inscription' %}">Création de compte</a></li>
                                <li><a href="{% url 'liste_ges' %}">Liste Gestionnaires</a></li>
                                <li><a href="{% url 'liste_prepa' %}">Liste Preparateurs</a></li>
                                <li><a href="{% url 'liste_cas' %}">Liste Caissiers</a></li>
                                <li><a href="{% url 'liste_phar' %}">Liste Pharmaciens</a></li>
                                <li><a href="{% url 'liste_liv' %}">Liste Livreurs</a></li>
                                <li><a href="{% url 'liste_client' %}">Liste Clients</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFiveteen">
                        <h2>
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseFiveteen" aria-expanded="false"
                                aria-controls="collapseFiveteen">
                                <a class="option-name"><i class="fa fa-file-text-o" aria-hidden="true"
                                        style="margin-left: 5px;"></i><span style="margin-left: 5px;">Rapport</span></a>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFiveteen" class="collapse" aria-labelledby="headingFiveteen"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li><a href="{% url 'rapport' %}">Statistique</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- End Sidebar -->
    


    <!-- Start Navbar -->

    <div id="navbar">
        <nav class="navbar navbar-expand navbar-light ">
            <div class="collapse navbar-collapse">
                <div class="navbar-nav mr-auto">
                    <a href="#" class="btn btn-lg " id="sidebarCollapse">
                        <span class="glyphicon glyphicon-align-left"></span>
                    </a>

                </div>
                <div class="row">


                    <div class="dropdown d-flex notification" style="margin-left: auto;" id="notification">
                        <a role="button" data-toggle="dropdown" data-target="#" href="">
                            <i class="fas fa-bell"></i>
                            <span class="badge">0</span>
                        </a>

                        <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">

                            <div class="notification-heading">
                                <h4 class="menu-title">NOTIFICATIONS</h4>
                                <h4 class="menu-title pull-right">Tout voir<i
                                        class="glyphicon glyphicon-circle-arrow-right"></i>
                                </h4>
                            </div>
                            <li class="divider"></li>
                            <div class="notifications-wrapper">
                                <a class="content" href="{% url 'notification_date_expired' %}">

                                    <div class="notification-item">
                                        <div class="row">
                                            <div class="clock">
                                                <i class="fas fa-hourglass-end"></i>
                                            </div>
                                            <div>
                                                <h4 class="item-title">Date de péremption du médicament</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <li class="divider"></li>

                                <a class="content" href="{% url 'notification_out_of_stock' %}">
                                    <div class="notification-item">
                                        <div class="row">
                                            <div class="battery">
                                                <i class="fas fa-battery-quarter"></i>
                                            </div>
                                            <div>
                                                <h4 class="item-title">Médicaments à réapprovisionner</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <li class="divider"></li>
                            <div class="notification-footer">
                                <h4 class="menu-title">Tout Voir<i class="glyphicon glyphicon-circle-arrow-right"></i>
                                </h4>
                            </div>
                        </ul>

                    </div>


                    <div class="user dropdown d-flex" id="user">
                        <a role="button" data-toggle="dropdown" data-target="#" href="">
                            <i class="fas fa-user"></i>
                        </a>

                        <ul class="dropdown-menu user-profile" role="menu" aria-labelledby="dLabel">

                            <div class="user-heading">
                                <div><img src="{% static 'themes_admin/img/user3.png' %}" class="user-img2"></div>
                                <div class="user-name2">{{ request.session.user_name }}</div>
                                <div class="user-email2">{{ request.session.user_email }}</div>
                                </h4>
                            </div>
                            <div class="user-wrapper">

                                <a class="content a-user dropdown-item" href="{% url 'profil_utilisateur' %}" id="a-user">

                                    <div class="drop-item">
                                        <div class="row row-user" style="margin-bottom: -2px;">
                                            <div>
                                                <i class="	fa fa-user-o" id="fa-user" style="margin-top: 1px"></i>
                                            </div>
                                            <div class="p-user">
                                                <p>Mon Profil</p>
                                            </div>
                                        </div>
                                    </div>

                                </a>
                                <li class="divider"></li>

                                <a class="content a-edit dropdown-item" href="{% url 'edit_profile' %}" id="a-user">
                                    <div class="drop-item">
                                        <div class="row row-user" style="margin-top: 5px">
                                            <div class="">
                                                <i class="fas fa-edit" id="fa-edit"></i>
                                            </div>
                                            <div class="p-user">
                                                <p>Modifier mon Profil</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <li class="divider"></li>

                                <a class="content a-sign dropdown-item" href="{% url 'deconnexion' %}" id="a-user">
                                    <div class="drop-item">
                                        <div class="row row-user" style="margin-top: 5px">
                                            <div class="">
                                                <i class="fa fa-sign-out" id="fa-sign"></i>
                                            </div>
                                            <div class="p-user">
                                                <p>Se Déconnecter</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>

        </nav>
    </div>


    <!-- End Navbar -->

    <!-- Start Body -->
    {% block content %}

    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f9;
        }
        
        .dashboard {
            padding: 20px;
        }
        
        .dashboard .card {
            background-color: #ffffff;
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .dashboard .card h3 {
            font-size: 24px;
            margin-bottom: 15px;
            color: #333;
        }
        
        .card .number {
            font-size: 36px;
            font-weight: bold;
            color: #007bff;
        }
        
        .dashboard .row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        .dashboard .row .col {
            flex: 1;
            margin-right: 20px;
            min-width: 200px;
        }
        
        .dashboard .row .col:last-child {
            margin-right: 0;
        }
        
        .charts {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }
        
        .charts .chart-container {
            flex: 1;
            margin-right: 20px;
        }
        
        .charts .chart-container:last-child {
            margin-right: 0;
        }
        .chart {
            width: 100%;
            height: 300px;
            background-color: #f9f9f9;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        
        @media (max-width: 768px) {
            .dashboard .row {
                flex-direction: column;
            }
            
            .dashboard .row .col {
                margin-right: 0;
                margin-bottom: 20px;
            }
            
            .charts {
                flex-direction: column;
            }
            
            .charts .chart-container {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    </style>
    
    <div class="dashboard">
        <div class="row">
            <div class="col">
                <div class="card">
                    <h3>Vue d'Ensemble des Utilisateurs</h3>
                    <div class="number">120</div> <!-- Replace with dynamic data -->
                    <p>Total d'utilisateurs par rôle.</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h3>Performance des Employés</h3>
                    <div class="number">200</div> <!-- Replace with dynamic data -->
                    <p>Commandes traitées, médicaments créés.</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h3>Statistiques de Ventes</h3>
                    <div class="number">500</div> <!-- Replace with dynamic data -->
                    <p>Ventes totales par mois.</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h3>Rapports Financiers</h3>
                    <div class="number">$10,000</div> <!-- Replace with dynamic data -->
                    <p>Revenus, dépenses, marges bénéficiaires.</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h3>État du Stock</h3>
                    <div class="number">80%</div> <!-- Replace with dynamic data -->
                    <p>Médicaments en stock, alertes pour stocks faibles ou expirés.</p>
                </div>
            </div>
        </div>
        
        <div class="charts">
            <div class="chart-container">
                
                <canvas id="doughnutChart"></canvas>
            </div>
            <div class="chart-container">
                
                <canvas id="barChart"></canvas>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        $(document).ready(function() {
            // Variables dynamiques
            const userRolesData = {{ user_roles_data|safe }};
            const monthlySalesData = {{ monthly_sales_data|safe }};
    
            // Vérification des données dans la console
            console.log('userRolesData:', userRolesData);
            console.log('monthlySalesData:', monthlySalesData);
    
            // Doughnut Chart - Vue d'ensemble des rôles utilisateurs
            const ctxDoughnut = document.getElementById('doughnutChart').getContext('2d');
            const doughnutChart = new Chart(ctxDoughnut, {
                type: 'doughnut',
                data: {
                    labels: Object.keys(userRolesData),
                    datasets: [{
                        label: 'Nombre d\'Utilisateurs',
                        data: Object.values(userRolesData),
                        backgroundColor: [
                            '#FF6384',
                            '#36A2EB',
                            '#FFCE56',
                            '#4BC0C0',
                            '#9966FF'
                        ],
                        hoverBackgroundColor: [
                            '#FF6384',
                            '#36A2EB',
                            '#FFCE56',
                            '#4BC0C0',
                            '#9966FF'
                        ]
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                }
            });
    
            // Bar Chart - Statistiques des ventes mensuelles
            const ctxBar = document.getElementById('barChart').getContext('2d');
            const barChart = new Chart(ctxBar, {
                type: 'bar',
                data: {
                    labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                    datasets: [{
                        label: 'Ventes Totales',
                        data: monthlySalesData,
                        backgroundColor: '#36A2EB',
                        borderColor: '#36A2EB',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
    
    {% endblock content %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

        
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap4.min.js"></script>



    <script src="{% static 'themes_admin/js/main.js' %}"></script>
    <script src="{% static 'themes_admin/js/themes.js' %}"></script>
</body>

</html>