{% extends "themes_admin/themes_gestionnaire/homepage_ges.html" %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'themes_admin/css/master.css' %}">
    <link rel="stylesheet" href="{% static 'themes_admin/css/user_list.css' %}">
    <link rel="stylesheet" href="{% static 'themes_admin/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'themes_admin/css/responsive.bootstrap4.min.css' %}">

<style>
    .div {
        text-align: center;
        margin: 20px auto; /* Centrage automatique des divs */
        padding: 10px;
        width: 50%; /* Ajustez la largeur selon vos besoins */
        background-color: #f2f2f2; /* Couleur de fond pour les divs */
        border-radius: 8px; /* Bords arrondis */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour un effet de relief */
    }
    
    .div a {
        color: #333; /* Couleur du texte */
        text-decoration: none; /* Supprimer le soulignement des liens */
        font-weight: bold;
        font-size: 16px; /* Ajustez la taille du texte selon vos besoins */
    }
    
    .div a:hover {
        color: #007bff; /* Changer la couleur lors du survol */
    }
    
</style>
<div class="div">
    <a href="{% url 'liste_ges' %}"> Liste des Gestionnaires</a>
</div>
<div class="div">
    <a href="{% url 'liste_prepa' %}"> Liste des Preparateurs</a>
</div>

<div class="div">
    <a href="{% url 'liste_phar' %}"> Liste des Pharmaciens</a>
</div>

<div class="div">
    <a href="{% url 'liste_cas' %}"> Liste des Caissiers</a>
</div>

<div class="div">
    <a href="{% url 'liste_liv' %}"> Liste des Livreurs</a>
</div>

<div class="div">
    <a href="{% url 'liste_client' %}"> Liste des clients</a>
</div>



    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap4.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/themes.js' %}"></script>
{% endblock %}
